<div class="row_3">
        <div class="container">
			<div class="row">
				<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-md-10 col-sm-10">
					<h2 > <%= @test.name%> </h2>
					<p> <%= @test.description %> </p>
					<br>	
				</div>
			</div>

			<%= form_tag(backend_preview_proccess_path, :method => "post", :class => "form-horizontal") do %>
				<div class="form-group" style="display:none">
					<input name="test_id" value=<%= @test.id%> > </input>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-8 col-sm-8">
				    <%= label_tag "name", "Nombres y Apellidos", {} %>
				    <%= text_field_tag "name", "", {required: "required", :class => "form-control"}  %>
				    </div>
			    </div>
				<div class="field form-group">
					<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-8 col-sm-8">
					<%= label_tag "email", "Correo Electrónico" %>
					<%= email_field_tag "email", "", {required: "required", :class => "form-control"}%>
				    </div>
			    </div>
			    <% number = 1 %>
				<% @test.questions.each do |question| %>
					<% leter = 'A' %>
				 	<div class="field form-group">
				    <label class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 "><%= number.to_s %> <%= '. '+question.title %></label>
				    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-9 col-md-9 col-sm-9">
				    	<fieldset>
				    	 	<% question.answers.each do |answer| %>
					    	 	<div class="radio">
					    			<%= radio_button_tag "question_#{question.id}", answer.id, false, {required: "required"} %>
					    			<%= leter.chr+'. '+ answer.title %>	
				    			</div>
				    			<% leter = leter.ord + 1 %>
				    		<% end %>
				    	</fieldset>
				    </div>
					</div>
					<% number += 1 %>
				<% end %>

				 <%= submit_tag "Enviar respuestas", id: "submit", name: "submit", class: "form_submit btn btn-success col-lg-offset-1 col-md-offset-1 col-sm-offset-1", disabled: false, disable_with: "Por favor espere..." %>
			<% end %> <!-- End Form -->
			<br>
              
        </div>
    </div>
