<!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <% if @category == 1 %>
                <h1 class="wow fadeIn"> Fragancias Masculinas</h2>
            <% else %>
                <h1 class="wow fadeIn"> Fragancias Femeninas</h2>
            <% end %>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/">
                  Inicio
                </a>
              </li>
              <li class="active">
                <% if @category == 1 %>
                  Fragancias Masculinas
                <% else %>
                   Fragancias Femeninas
                <% end %>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="container career-inner">
    <div class="row">
        <div class="col-md-12 career-head">
        <% if @category == 1 %>
            <h1 class="wow fadeIn"> Fragancias Masculinas</h2>
        <% else %>
            <h1 class="wow fadeIn"> Fragancias Femeninas</h2>
        <% end %>
        </div>
    </div>
    <hr>
    <div class="row">

    <div class="col-md-2 col-md-offset-1">
        <div class="candidate wow fadeInLeft">
            <ul id="list" class="list-unstyled">
                <% @products.each do |product| %>
                <li id=<%= product.id %> onclick="modal_funt(<%= product.id %>);"><i class="fa fa-angle-right pr-10"></i> <a><%= product.name %> </a></li>
                <% end %>
            </ul>
        </div>
        <hr>     
    </div>
    <div class="col-md-4">
        <div class="candidate wow fadeInRight">
            <div id="img-product">
                <% if @products.first %>
                <%= image_tag(@products.first.image.url(:medium)) %>
                <% end %>
            </div>
        </div>     
    </div>
    <div class="col-md-5">
        <div class="candidate wow fadeInRight">
            <% if @products.first %>
            <h1 id="name-product"><%= @products.first.name %></h1>
            <div id="desc-product">  
                <p><%= @products.first.description %></p>  
            </div> 
             <% end %>   
        </div>     
    </div>
</div>

<%= render "frontend/partial/modal_product" %>

<!-- Baner Fragancias -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8  col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2  recent">
            <h3>Productos relacionados</h3>
            <p></p>
            <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">

            <% @products.each do |product| %>
              <div class="item view view-tenth">
                <%= image_tag(product.image.url(:thumb))%>
                <div class="mask">
                    <a class="info" data-toggle="tooltip" data-placement="top" onclick="modal_funt(<%= product.id %>);" title=<%= product.name%>>
                    <i class="fa fa-link"></i>
                    </a>
                </div>
              </div>
             <% end %>             
            </div>
        </div>
    </div>
        <!--recent work end-->
</div>


<script src="/site/js/jquery.js"></script>  
<script src="/site/js/bootstrap.min.js"></script> 
<script src="/site/js/wow.min.js"></script>
<script src="/site/assets/owlcarousel/owl.carousel.js"></script>


<script>
    $("#owl-demo").owlCarousel({
            items : 4
        });

    $( "li" ).mouseover(function() {
        var id = $( this ).attr("id");
        $.ajax({
           type: "GET",
           url: "/frontend/product_detail/"+id,
           dataType: "json",
           success: function (data) {
               $( "#img-product" ).html("");
               $( "#desc-product" ).html("");
               $( "#name-product" ).html("");
               $( "#img-product" ).append( '<img onclick="modal_funt('+ id +')" src=' + data.img_medium + '>');
               $( "#name-product" ).append(data.product.name);
               $( "#desc-product" ).append( "<p>" + data.product.description + "</p>");
           }
       });
    });

    wow = new WOW(
      {
        boxClass:     'wow',      // default
        animateClass: 'animated', // default
        offset:       0          // default
      }
    );

    function modal_funt(id) {
        $.ajax({
           type: "GET",
           url: "/frontend/product_detail/"+id,
           dataType: "json",
           success: function (data) {
               $( ".modal-title" ).html("");
               $( "#desc-product-modal" ).html("");
               $( "#img-product-modal" ).html("");
               
               $( ".modal-title" ).append( data.product.name);
               $( "#img-product-modal" ).append( "<img src=" + data.img_medium + ">");
               $( "#desc-product-modal" ).append( "<p>" + data.product.description + "</p>");
               $("#myModal").modal('toggle');
           }
       });
    };

    wow.init();
</script>