  <!--breadcrumbs start-->
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-4">
          <h1 class="wow fadeIn"> Nuestros Productos</h2>
        </div>
        <div class="col-lg-8 col-sm-8">
          <ol class="breadcrumb pull-right">
            <li>
              <a href="/">
                Inicio
              </a>
            </li>
            <li class="active">
                Nuestros Productos
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="property gray-bg"> -->
  <div class="container">
    <div class="row">
        <div class="col-md-12 career-head">
            <h1 class="wow fadeIn"> Nuestros Productos</h1>
        </div>
    </div>
    <hr>
    <div class="row">

    <div class="row text-center">
      <% Category.all.order(id: :asc).each do |category| %>
        <div class="col-md-4">
          <div class="candidate wow fadeInLeft">
            <a href="products/<%= category.id %>"><%= category.name %></a>
            <hr>
            <ul id="list" class="list-unstyled">
                  <% @products.each do |product| %>
                  <% if product.category_id == category.id %>
                  <li style="cursor:pointer;" id=<%= product.id %> onclick="modal_funt(<%= product.id %>);"><i class="fa fa-angle-right pr-10"></i> <a><%= product.name %> </a></li>
                  <% end %>
                  <% end %>
              </ul>
          </div>    
      </div>

      <% end %>
    </div>  

    <hr>
  </div>

  </div>
<script>
    wow = new WOW(
      {
        boxClass:     'wow',      // default
        animateClass: 'animated', // default
        offset:       0          // default
      }
    );  

    wow.init();
    
</script>