
<div class="row_3">
    <div class="container">
    <% if @category == 1 %>
        <h2> Fragancias Masculinas</h2>
    <% else %>
        <h2> Fragancias Femeninas</h2>
    <% end %>
        <div class="row">
        <% par = 1 %>
        <% @products.each do |product| %>
            <% if par == 1 %>
                <ul class="list3">
                    <li class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box4">
                            <figure><img src="<%= product.image_path %>" alt=""></figure>
                            <div class="info1 maxheight">
                                <p class="list3title1"><%= product.name %></p>
                                <p class="list3title2"><%= product.description %></p>
                                <a href="#" class="btn-link btn-link1">Ver<span></span></a>
                            </div>
                        </div>
                    </li>
                    <% par = 2 %>
                    <% else %>
                    <li class="col-lg-6 col-md-6 col-sm-6 ">
                        <div class="box4">
                            <figure><img src="<%= product.image_path %>" alt=""></figure>
                            <div class="info1 maxheight">
                                <p class="list3title1"><%= product.name %></p>
                                <p class="list3title2"><%= product.description %></p>
                                <a href="#" class="btn-link btn-link1">Ver<span></span></a>
                            </div>
                        </div>
                    </li> 
                </ul>
                <% par = 1 %>
            <% end %>
        <% end %>
        </div>
    </div>
</div>
