
<!-- Sequence Modern Slider -->
<div id="da-slider" class="da-slider">

        <div class="da-slide">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
          <h2>
      <i>HUGO BOSS</i>
        <br />
      <i>Para Hombre</i>
        <br />
    </h2>
    <p>
      <i>El acompañante perfecto</i>
        <br />
      <i>para una personalidad</i>
      <br />
      <i>llena de matices</i>
    </p>
          <a href="#" class="btn btn-info btn-lg da-link">
            Ver más
          </a>
          <div class="da-img">
            <img src="/site/img/parallax-slider/images/107.png" alt="Hugo Boss" />
          </div>
        </div>
      </div>
    </div>
  </div>


        <div class="da-slide">
        <div class="container">
    <div class="row">
      <div class="col-md-12">
    <h2>
      <i>CHANEL N° 5</i>
        <br />
      <i>Para Mujer</i>
        <br />
    </h2>
    <p>
      <i>Reinterpreta</i>
        <br />
      <i>la partitura olfativa</i>
      <br />
      <i>del n° 5</i>
    </p>
    <a href="#" class="btn btn-info btn-lg da-link">
      Ver más
    </a>
    <div class="da-img">
      <img src="/site/img/parallax-slider/images/102.png" alt="Chanel" />
    </div>
  </div>
      </div>
    </div>
  </div>


  <div class="da-slide">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <h2>
      <i>CAROLINA HERRERA</i>
        </br>
      <i>Para Hombre</i>
        </br>
    </h2>
    <p>
      <i>La vida del hombre</i>
      <br />
      <i>es como un largo viaje</i>
      <br />
      <i>lleno de emociones </i>
    </p>
    <a href="#" class="btn btn-info btn-lg da-link">
      Ver más
    </a>
    <div class="da-img">
      <img src="/site/img/parallax-slider/images/109.png" alt="Carolina Herrera" />
    </div>
  </div>
  </div>
  </div>
  </div>

  <nav class="da-arrows">
    <span class="da-arrows-prev">
    </span>
    <span class="da-arrows-next">
    </span>
  </nav>
</div>


<div class="container">
  <div class="row mar-b-50">
    <div class="col-md-12">
      <div class="text-center feature-head wow fadeInDown">
        <h1 class="">
          Disfruta lo mejor de Perfumania...
        </h1>
     
        <!-- <div class="col-md-offset-4"> -->
                <div class="bg-lg">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 recent">
                 <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">
                  <div class="item view view-tenth">
                    <img src="/site/img/works/hombre.jpg" alt="Hombre">
                    <div class="mask">
                      <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Fragancias Masculinas">
                        <i class="fa fa-link">
                        </i>
                      </a>
                    </div>
                  </div>
                  <div class="item view view-tenth">
                    <img src="/site/img/works/mujer.jpg" alt="Mujer">
                    <div class="mask">
                      <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Fragancias Femeninas">
                        <i class="fa fa-link">
                        </i>
                      </a>
                    </div>
                  </div>
                  <div class="item view view-tenth">
                    <img src="/site/img/works/dia.jpg" alt="Día">
                    <div class="mask">
                      <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Fragancias para el día">
                        <i class="fa fa-link">
                        </i>
                      </a>
                    </div>
                  </div>
                  <div class="item view view-tenth">
                    <img src="/site/img/works/noche.jpg" alt="Noche">
                    <div class="mask">
                      <a href="blog-detail.html" class="info" data-toggle="tooltip" data-placement="top" title="Fragancias para la noche">
                        <i class="fa fa-link">
                        </i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--recent work end-->
        </div>

     </div>

        <!-- </div> -->
    </div>
  </div>
</div>

<%= render "frontend/partial/modal_product" %>
<!--property start-->
<div class="property gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
        <h1> Top 10 productos destacádos</h1>

        <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
        <ul id="list-top" class="list-unstyled">
        <% @top_products.each do |product| %>
          <li id=<%= product.id %> onclick="modal_funt(<%= product.id %>);" ><a><%= product.name %></a></li>
        <% end %>
        </ul> 
        </div>

        <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
          <div id="top-img-product">
                <% if @top_products.first %>
                <%= image_tag(@top_products.first.image.url(:medium)) %>
                <% end %>
            </div>      
        </div>
        <hr>
        <a href="javascript:;" class="btn btn-purchase">
          Ver más
        </a>

        </div>
      </div>
      <div class="col-lg-6 col-sm-6 wow fadeInRight">
        <h1>
          BLOG
        </h1>
        <hr>
        <p>
          <i class="fa fa-check fa-lg pr-10">
          </i>
          ¡El olor tiene un poder mágico!
          Habitualmente, consideramos como verdadero aquello que podemos ver, sentir y tocar… pero un poco más relegado tenemos aquello que podemos oler..
        </p>
        <p>
          <i class="fa fa-check fa-lg pr-10">
          </i>
          Las cosas no suceden porque sí, del mismo modo que no elegimos un perfume de moda sin motivo. Nuestra personalidad se refleja en la fraganciaque escogemos, al igual que el momento que estamos viviendo. Aquí te ofrecemos las claves para saber qué perfume usar según tu personalidad.
        </p>
        <p>
          <i class="fa fa-check fa-lg pr-10">
          </i>
          A la mayoría de las mujeres nos fascina usar perfume ya que nos da un aire distinto, refuerza nuestra personalidad y nos hace sentirnos más seguras y atractivas.
        </p>
        <p>
          <i class="fa fa-check fa-lg pr-10">
          </i>
          El mundo de la perfumería evoluciona constantemente, y las fragancias aparecen y desaparecen del mercado con  cierta facilidad según las modas. Pese a ello, existe un reducido número de perfumes con muchos años de historia a sus espaldas que siguen siendo plenamente vigentes hoy en día. Repasamos algunos de los perfumes masculinos que ha conseguido mantenerse en lo más alto pese al paso del tiempo. Aunque algunos de ellos se han visto mejorados con versiones más modernas, pueden presumir de seguir manteniendo la esencia con la que nacieron.
        </p>
        <hr>
        <a href="javascript:;" class="btn btn-purchase">
          Ver más
        </a>
      </div>
    </div>
  </div>
</div>
<!--property end-->

<div class="container">

  <div class="row mar-b-60">
    <div class="col-lg-6">
      <!--tab start-->
      <section class="tab wow fadeInLeft">
        <header class="panel-heading tab-bg-dark-navy-blue">
          <ul class="nav nav-tabs nav-justified ">
            <li class="active">
              <a data-toggle="tab" href="#news">
                News
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#events">
                Events
              </a>
            </li>
            <li class="">
              <a data-toggle="tab" href="#notice-board">
                Notice board
              </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content tasi-tab">
            <div id="news" class="tab-pane fade in active">
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/site/img/product1.jpg" alt="">
                </a>
                <div class="media-body b-btm">
                  <a href="#" class=" p-head">
                    News Tittle goes here
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/site/img/product2.jpg" alt="">
                </a>
                <div class="media-body b-btm">
                  <a href="#" class=" p-head">
                    News Tittle goes here 2
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. simsut dorlor
                  </p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/site/img/product1.jpg" alt="">
                </a>
                <div class="media-body b-btm">
                  <a href="#" class=" p-head">
                    News Tittle goes here 3
                  </a>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. sumon ahmed
                  </p>
                </div>
              </article>
            </div>
            <div id="events" class="tab-pane fade">
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <!--image goes here-->
                </a>
                <div class="media-body b-btm">
                  <a href="#" class="cmt-head">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </a>
                  <p>

                    <i class="fa fa-time">
                    </i>
                    1 hours ago
                  </p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <!--image goes here-->
                </a>
                <div class="media-body b-btm">
                  <a href="#" class="cmt-head">
                    Nulla vel metus scelerisque ante sollicitudin commodo
                  </a>
                  <p>

                    <i class="fa fa-time">
                    </i>
                    23 mins ago
                  </p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <!--image goes here-->
                </a>
                <div class="media-body b-btm">
                  <a href="#" class="cmt-head">
                    Donec lacinia congue felis in faucibus.
                  </a>
                  <p>

                    <i class="fa fa-time">
                    </i>
                    15 mins ago
                  </p>
                </div>
              </article>
            </div>
            <div id="notice-board" class="tab-pane fade">
              <p>
                Notice board goes here Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.
              </p>
              <p>
                Notice board goes here Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ablic jiener.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!--tab end-->
    </div>
    <div class="col-lg-6">
      <!--testimonial start-->
      <div class="about-testimonial boxed-style about-flexslider ">
        <section class="slider wow fadeInRight">
          <div id="map" style='height: 250px;'></div>
        </section>
      </div>
      <!--testimonial end-->
    </div>
    </div>
  </div>


  <!--recent work start-->





   <script src="/site/js/jquery-1.8.3.min.js">
    </script>
    <script src="/site/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="/site/js/hover-dropdown.js">
    </script>
    <script defer src="/site/js/jquery.flexslider.js">
    </script>
    <script type="text/javascript" src="/site/assets/bxslider/jquery.bxslider.js">
    </script>

    <script type="text/javascript" src="/site/js/jquery.parallax-1.1.3.js">
    </script>
    <script src="/site/js/wow.min.js">
    </script>
    <script src="/site/assets/owlcarousel/owl.carousel.js">
    </script>

    <script src="/site/js/jquery.easing.min.js">
    </script>
    <script src="/site/js/link-hover.js">
    </script>
    <script src="/site/js/superfish.js">
    </script>
    <script type="text/javascript" src="/site/js/parallax-slider/jquery.cslider.js">
    </script>
 <script type="text/javascript">
      $(function() {

        $('#da-slider').cslider({
          autoplay    : true,
          bgincrement : 100
        });

      });
    </script>



    <!--common script for all pages-->
    <script src="/site/js/common-scripts.js">
    </script>

    <script type="text/javascript">
      jQuery(document).ready(function() {


        $('.bxslider1').bxSlider({
          minSlides: 5,
          maxSlides: 6,
          slideWidth: 360,
          slideMargin: 2,
          moveSlides: 1,
          responsive: true,
          nextSelector: '#slider-next',
          prevSelector: '#slider-prev',
          nextText: 'Onward →',
          prevText: '← Go back'
        });

      });


    </script>


    <script>
      $( "li" ).mouseover(function() {
        var id = $( this ).attr("id");
        $.ajax({
           type: "GET",
           url: "/frontend/product_detail/"+id,
           dataType: "json",
           success: function (data) {
               $( "#top-img-product" ).html("");
               $( "#top-img-product" ).append( '<img onclick="modal_funt('+ id +')" src=' + data.img_medium + '>');
           }
       });
      });
      function modal_funt(id) {
        $.ajax({
           type: "GET",
           url: "/frontend/product_detail/"+id,
           dataType: "json",
           success: function (data) {
               $( ".modal-title" ).html("");
               $( "#desc-product-modal" ).html("");
               $( "#img-product-modal" ).html("");
               
               $( ".modal-title" ).append( data.product.name);
               $( "#img-product-modal" ).append( "<img src=" + data.img_medium + ">");
               $( "#desc-product-modal" ).append( "<p>" + data.product.description + "</p>");
               $("#myModal").modal('toggle');
           }
         });
      };

      $('a.info').tooltip();

      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "slide",
          start: function(slider) {
            $('body').removeClass('loading');
          }
        });
      });

      $(document).ready(function() {

        $("#owl-demo").owlCarousel({

          items : 4

        });

      });

      jQuery(document).ready(function(){
        jQuery('ul.superfish').superfish();
      });

      new WOW().init();


    </script>


<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->

 <script type="text/javascript"> 
  handler = Gmaps.build('Google');
  handler.buildMap({ provider:  {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": 4.60971,
        "lng": -74.08175,
        "picture": {
          "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
          "width":  22,
          "height": 22
        },
        "infowindow": "hello!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(13);
  });
</script>
