<!-- BANNER -->
<div class="container-fluid">

  <div class="row mar-b-50">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="slider-wrapper">
        <div class="responisve-container">
          <div class="slider" style="z-index: 1">
            <div class="fs_loader"></div>
               <% Product.all.order(top_position: :asc).limit(5).each do |product| %>
                  <div class="slide"> 
                 <!--  <h1    style="color:white"
                      data-position="20,100" data-in="top" data-step="1"  data-ease-in="easeOutBounce">Perfumanía Shop <br> Inspirada en ... </h1> -->
                  <div data-in="right" data-position="20,100" >
                      <h1 style="color:white"
                          data-position="20,100">Perfumanía Shop <br> Inspirada en ... </h1>
                      <br><br>
                      <h2 style="color:white"
                          data-position="130,100" ><%= product.name %></h2>
                      <br><br>
                      <a data-position="300,80" style="z-index: 1;" href="/frontend/products/<%=product.category_id %>" class="btn btn-info btn-lg
                       da-link">
                        Ver más
                      </a> 
                  </div>
                  
                  <img  src=<%= product.image.url(:medium) %> data-step="1"
                      data-position="50,700" data-in="left" data-out="fade">
                </div>
             <% end %>   
          </div>
        </div>
      </div>
   </div>
  </div>


  <div class="row mar-b-50">
    <div class="col-md-12">
      <div class="text-center feature-head wow fadeInDown">
        <h1 class="">
          Disfruta lo mejor de Perfumania Shop...
        </h1>
     
        <!-- <div class="col-md-offset-4"> -->
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 recent">
                <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">
                    
                  <div>
                    <div class="item view view-tenth">
                      <a href="frontend/products/1" data-toggle="tooltip" data-placement="top" title="Fragancias Masculinas">
                      <img src="/site/img/works/hombre.jpg" alt="Hombre">
                      </a>                 
                    </div>
                    <a href="/frontend/products/1" >Fragancias Masculinas</a>
                  </div>
                  <div>
                    <div class="item view view-tenth">
                      <a href="frontend/products/2" data-toggle="tooltip" data-placement="top" title="Fragancias Femeninas">
                        <img src="/site/img/works/mujer.jpg" alt="Mujer">
                      </a>
                    </div>
                    <a href="/frontend/products/2" >Fragancias Femeninas</a>
                  </div>
                  <div>
                    <div class="item view view-tenth">   
                      <a href="/frontend/products/3"  data-toggle="tooltip" data-placement="top" title="otros Productos">
                       <img src="/site/img/works/dia.jpg" alt="Día">
                      </a>
                    </div>
                    <a href="/frontend/products/3" >Otros productos</a>
                  </div>
                  <div>
                    <div class="item view view-tenth">   
                      <a href="/frontend/tips"  data-toggle="tooltip" data-placement="top" title="Tips">
                         <img src="/site/img/works/noche.jpg" alt="Noche">
                      </a>
                    </div>
                    <a href="/frontend/tips" >Tips</a>
                  </div>
                </div>
              </div>
          <!--recent work end-->
            </div>
          </div>
       <!-- </div> -->
      </div>
    </div>
  </div>  


  <!--property start-->
  <div class="property gray-bg">
    <div class="row mar-b-50">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-6 col-sm-6 col-md-6 text-center wow fadeInLeft">
          <h1> Top 10 productos destacádos</h1>
          <hr>

          <div class="col-lg-7 col-sm-7 col-md-7">
           
            <% @top_products.each do |product| %>
              <p class="text-center" style="cursor:pointer;" >
                 <li style="cursor:pointer;" id=<%= product.id%> onclick="modal_funt(<%= product.id %>);" ><a ><%= product.name %></a></li>
                 </p>
            <% end %>
            
          </div>
          <div class="col-lg-5 col-sm-5 col-md-5">
            <div id="img-product">
                  <% if @top_products.first %>
                  <%= image_tag(@top_products.first.image.url(:medium), style: "width: 250px") %>
                  <% end %>
              </div>      
          </div>
        <!--   <hr> <a href="/frontend/products_all" class="btn btn-purchase">
            Todas nuestras fragancias
          </a> -->
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 text-center wow fadeInRight">
          <h1>
            Tips
          </h1>
          <hr>
          <% Tip.all.limit(10).each do |tip|%>
          <p>
            <a href="<%=url_for(frontend_tips_path)%>/#tip-<%=tip.id%>">
            <i class="fa fa-check fa-lg pr-10"></i>
             <%= tip.name %>..
             </a>
          </p>
          <% end%>
          <a href=<%= url_for(frontend_tips_path) %> class="btn btn-purchase">
            Ver todos los tips
          </a>
        </div>
      </div>
      </div>
  </div>
  <!--property end-->


  <div class="row mar-b-50">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-6 col-md-6 col-sm-6 wow fadeInLeft">
          <!-- Comentarios en facebook -->
              <h2> <a target="_blank" href="https://www.facebook.com/Perfumaniashop-1573549602960642/?ref=bookmarks"><img src="/site/img/facebook_logo.png"  height="35" width="35"></img> </a>  Encuentranos en facebook </h2>
              <!-- Boton Me gusta facebook -->

              <div class="fb-like" data-href="https://www.facebook.com/Perfumaniashop-1573549602960642/?ref=bookmarks" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
              
              <div class="fb-comments" data-numposts="10" data-width="100%" data-colorscheme="light" data-href="https://www.facebook.com/Perfumaniashop-1573549602960642/?ref=bookmarks"></div>

              <div id="fb-root" class="" ></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=1098117230210261";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
        </div>  
        <!--Google maps start-->
        <div class="col-lg-6 col-md-6 col-sm-6 wow fadeInRight">
          <h2>Encuentra tu tienda más cercana </h2>
            <div class="form">
              <div class="form-group">
                  <!-- <label>Selecciona tu ciudad: </label> -->
                  <select id="map_city" class="form-control">  
                    <option value="1"> Bogotá - Suba, Cra 91 # 139-06 </option>
                    <option value="2"> Bogotá - Fontibon, Cra 100 # 20c-23 </option>
                    <option value="3"> Bogotá - Chapinero, Cra 11 # 71-65 </option>
                    <option value="4"> Manizales, Cra 23 # 26-11 </option>
                    <option value="5"> Manizales, Cra 21 # 19-13 </option>
                  </select>
              </div>
              <div class="google-maps">
                <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d127244.79738513596!2d-73.99071956591796!3d4.700383168188126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84fb326e37dd%3A0x8d1e72b1ba59e521!2sCra.+91+%23139-6%2C+Bogot%C3%A1%2C+Colombia!5e0!3m2!1ses-419!2sit!4v1460016032774" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            <hr>
            </div>  
        </div>
        
        <!--Google MAps end-->
      </div>
  </div>

</div>

<script type="text/javascript">

  $(window).load(function(){

    $('.slider').fractionSlider({
      'fullWidth':      true,
      // 'controls':       true, 
      'pager':        true,
      'responsive':       false,
      'dimensions':       "1000,400",
      'increase':       false,
      'pauseOnHover':     true
    });
  });

  $( "#map_city" ).change(function() {
      var valor = $(this).val();
      if(valor==1){
          $("#mapa").attr("src", "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d127244.79738513596!2d-73.99071956591796!3d4.700383168188126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84fb326e37dd%3A0x8d1e72b1ba59e521!2sCra.+91+%23139-6%2C+Bogot%C3%A1%2C+Colombia!5e0!3m2!1ses-419!2sit!4v1460016032774");
      }
      if(valor==2){
          $("#mapa").attr("src", "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5422635664254!2d-74.14515625004935!3d4.675371443162771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c8c338eef7f%3A0xb30a0cb7d87b402d!2sCra.+100+%2320-23%2C+Bogot%C3%A1%2C+Colombia!5e0!3m2!1ses-419!2sit!4v1461729108855");
      }
      if(valor==3){
          $("#mapa").attr("src", "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.647574631505!2d-74.06122068523787!3d4.656780796617295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5ca961ebc5%3A0xbf06ae78f45e1ee5!2sAk.+11+%2371-65%2C+Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1461731740818");
      }
      if(valor==4){
          $("#mapa").attr("src", "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.229639872586!2d-75.51685105798352!3d5.0664907297990895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476ff0b8402b81%3A0xb06d936cd5de2d6d!2sCra.+23+%2326-11%2C+Manizales%2C+Caldas%2C+Colombia!5e0!3m2!1ses-419!2sit!4v1461731805100");
      }
      if(valor==5){
          $("#mapa").attr("src", "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.21837534895!2d-75.52170455004895!3d5.068322139754271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476ffbb22fe6e1%3A0x19133393ab14f540!2sCra.+21+%2319-13%2C+Manizales%2C+Caldas%2C+Colombia!5e0!3m2!1ses-419!2sit!4v1461731722301");
      }
          
  });

</script>