<%= form_for([:backend, @product], html: {multipart: true}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name, {:class => "form-control"} %>
  </div><br>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_area :description,{:class => "form-control"}  %>
  </div><br>
  <div class="field">
    <%= f.label :Categoria%><br>
    <%= f.select :category_id, {'Fragancias Maculinas' => 1, 'Fragancias Femeninas' => 2}, {},{:class => "form-control"}  %>
  </div><br>
  <div class="field">
    <%= f.label :top_position %><br>
    <%= f.select :top_position, 1...20,{}, :class => 'form-control' %>
  </div><br>
  <div class="field">
    <%= f.label :Imagen %><br>
    <%= f.file_field :image, autofocus: true, :class => 'form-control' %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Guardar',  :class => "btn btn-warning" %>
  </div><br>
<% end %>
