<h1>Listado de Productos 
<%= link_to 'Nuevo producto', new_backend_product_path,{ :class=>"btn btn-success"} %>
</h1>

<% categories = {'Seleccione Una' => '','Fragancias Maculinas' => 1, 'Fragancias Femeninas' => 2} %>

<hr>
<!-- Filtros -->
<%= form_tag({:controller => "products", :action => "index"}, :method => :get, :class => "form-inline") do %>
    <div class="form-group">
      <label> Producto: </label>
      <%= text_field_tag "filter_name", params[:filter_name], {:placeholder => 'Nombre o descripción', :class => "form-control"} %>
    </div>
    <div class="form-group">
      <label> Categoría: </label>
      <%= select_tag("filter_categories", options_for_select(@categories.reverse, selected: params[:filter_categories]),{ :class => 'form-control' }) %>
    </div>

    <div class="form-group">
      <label> Nota olfativa: </label>
      <%= select_tag("filter_notes", options_for_select(@notes.reverse, selected: params[:filter_notes]),{ :class => 'form-control' }) %>
    </div>
    <div class="form-group">
      <%= submit_tag "Buscar", :name => nil %> 
      <%= link_to 'Restablecer', backend_products_path %>
    </div>
<% end %>
<hr>


<table class="table table-hover table-bordered table-responsive" text-align="center">
  <thead>
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Descripción</th>
      <th class="text-center">Categoria</th>
      <th class="text-center">Nota olfativa</th>
      <th class="text-center">Top 10 Posición</th>
      <th class="text-center">Imagen</th>
      <th class="text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name.encode("UTF-8", :invalid=>:replace, :replace=>" ") %></td>
        <td><%= product.description.encode("UTF-8", :invalid=>:replace, :replace=>" ") %></td>
        <td><%= product.category.name %></td>
        <td><%= product.note.name %></td>
        <td><%= product.top_position %></td>
        <td><%= image_tag(product.image.url(:thumb)) %></td>
        <td><%= link_to 'Mostrar', [:backend, product], { :class=>"btn btn-primary"}  %></td>
        <td><%= link_to 'Editar', edit_backend_product_path(product),{ :class=>"btn btn-warning"}  %></td>
        <td><%= link_to 'Eliminar', [:backend, product], {method: :delete, data: { confirm: '¿Está seguro?' }, :class=>"btn btn-danger" }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-small pagination-centered" %>
<br>


