<p id="notice"><%= notice %></p>

<h1>Listado de Productos</h1>

<div class="main row">
<table text-align="center" class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Categoria</th>
      <th>Segmento</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.category_id %></td>
        <td><%= product.segment_id %></td>
        <td><%= image_tag product.image_path, {:height=>"60"} %></td>
        <td><%= link_to 'Mostrar', product, { :class=>"btn btn-primary"}  %></td>
        <td><%= link_to 'Editar', edit_product_path(product),{ :class=>"btn btn-primary"}  %></td>
        <td><%= link_to 'Eliminar', product, {method: :delete, data: { confirm: '¿Está seguro?' }, :class=>"btn btn-primary"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<section>
<div class="row" class="contener" align="justify">
  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">Colombia, oficialmente República de Colombia, es un país situado en la región noroccidental de América del Sur. Está constituido en un estado unitario, social y democrático de derecho cuya forma de gobierno es presidencialista. </article>
  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">Chile es un país de América ubicado en el extremo sudoeste de América del Sur. Su nombre oficial es República de Chile27 y su capital es la ciudad de Santiago.</article>
  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">La República Argentina, conocida simplemente como Argentina,n. 1 es un país soberano de América del Sur, ubicado en el extremo sur y sudeste de dicho subcontinente. Adopta la forma de gobierno republicana, representativa y federal.</article>
  <article class="col-xs-12 col-sm-6 col-md-6 col-lg-3">Brasil, oficialmente República Federativa del Brasil6 7 8 (en portugués: República Federativa do Brasil), es un país soberano de América del Sur que comprende la mitad oriental del subcontinente y algunos grupos de pequeñas islas en el océano Atlántico.</article>
</div>
</section>


<br>

<%= link_to 'Nuevo Producto', new_product_path,{ :class=>"btn btn-success" } %>
