    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Contactanos
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="/">
                  Inicio
                </a>
              </li>
              <li class="active">
                Contactanos
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->



    <!--container start-->
    <div class="container">
    
    <% if notice %>
    <p id="notice" class="alert alert-success" role="alert" ><%= notice %></p>
    <% end %>

      <div class="row">
        <div class="col-lg-5 col-sm-5 address">
          <section class="contact-infos">
            <h4 class="title custom-font text-black">
              DIRECCIÓN
            </h4>
            <address>
              Calle xx # yy,zz,
              <br>
              BogotA, COLOMBIA
              <br>
              311xxxxxxx
            </address>
          </section>
          <section class="contact-infos">
            <h4 class="title custom-font text-black">
              HORARIO DE ATENCIÓN
            </h4>
            <p>
              Lunes - Viernes 8am a 4pm
              <br>
              Sabado - 7am a 6pm
              <br>
              Domingo - No hay atención
              <br>
            </p>
          </section>
          <section class="contact-infos">
            <h4>
              TELEFONO
            </h4>
            <p>
              <i class="icon-phone">
              </i>
              +057-01234567890
            </p>

            <p>
              <i class="icon-phone">
              </i>
              +057-311xxxxxxx
            </p>

          </section>
        </div>
        <div class="col-lg-7 col-sm-7 address">
          <h4>
            Trabaja con nosotros, dejanos tus datos y te llamamos
          </h4>
          <div class="contact-form">
            
          <%= form_tag(frontend_contact_proccess_path, :method => "post", :class => "form-horizontal") do %>

            <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-8 col-sm-8">
              <%= label_tag "name", "Nombres y Apellidos", {} %>
              <%= text_field_tag "name", "", {required: "required", :class => "form-control"}  %>
              </div>
            </div>

            <div class="field form-group">
              <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-8 col-sm-8">
              <%= label_tag "email", "Correo Electrónico" %>
              <%= email_field_tag "email", "", {required: "required", :class => "form-control"}%>
              </div>
            </div>

            <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-8 col-sm-8">
              <%= label_tag "phone", "Teléfono", {} %>
              <%= text_field_tag "phone", "", {required: "required", :class => "form-control"}  %>
              </div>
            </div>

            <div class="form-group">
            <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-8 col-sm-8">
              <%= label_tag "message", "Mensaje", {} %>
              <%= text_area_tag "message", "", {required: "required", :class => "form-control", :rows => "5"}  %>
              </div>
            </div>
              
              <%= submit_tag "Enviar", id: "submit", name: "submit", class: "form_submit btn btn-success col-lg-offset-1 col-md-offset-1 col-sm-offset-1", disabled: false, disable_with: "Por favor espere..." %>

            <% end %>


          </div>
        </div>
      </div>

    </div>
