
<% number = 1 %>
<div class="row">
	<div class="col-xs-offset-1 col-xs-10 ">
		<h2 > <%= @test.name%> </h2>
		<p> <%= @test.description %> </p>
		<br>	
	</div>
</div>

<%= form_tag('/preview_proccess', :method => "post", :class => "form-horizontal") do %>
	<div class="form-group" style="display:none">
		<input name="test_id" value=<%= @test.id%> > </input>
	</div>
	<div class="form-group">
	    <%= label_tag "name", "Nombres y Apellidos", {:class => "col-xs-3 control-label text-left"} %>
	    <div class="col-xs-9">
	    	<%= text_field_tag "name", "", {required: "required", :class => "form-control"}  %>
	    </div>
    </div>
	<div class="field form-group">
		<%= label_tag "email", "Correo Electrónico",{:class => "col-xs-3 control-label"} %>
		<div class="col-xs-9">
	    	<%= email_field_tag "email", "", {required: "required", :class => "form-control"}%>
	    </div>
    </div>
	<% @test.questions.each do |question| %>
		<% leter= 'A' %>
	 	<div class="field form-group">
	    <label class="col-xs-offset-1 control-label"><%= number.to_s %> <%= '. '+question.title %></label>
	    <div class="col-xs-offset-2">
	    	<fieldset>
	    	 	<% question.answers.each do |answer| %>
		    	 	<div class="radio">
		    			<%= radio_button_tag "question_#{question.id}", answer.id, false, {required: "required"} %>
		    			<%= leter.chr+'. '+ answer.title %>	
	    			</div>
	    			<% leter = leter.ord + 1 %>
	    		<% end %>
	    	</fieldset>
	    </div>
		</div>
		<% number += 1 %>
	<% end %>

	 <%= submit_tag "Enviar respuestas", id: "submit", name: "submit", class: "form_submit btn btn-success col-xs-offset-2", disabled: false, disable_with: "Por favor espere..." %>
<% end %> <!-- End Form -->