<!DOCTYPE html>
<html lang="es">
<head name="viewport" content="width=device-width, initial-scale=1">
  <title>Perfumania</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="<%= url_for(backend_root_path) %> ">Backend Perfumania </a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=<%= backend_products_path%> >Productos</a></li>
            <li><a href=<%= backend_categories_path%> >Categorías</a></li>
            <li><a href=<%= backend_notes_path%> >Notas olfativas</a></li>            
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Encuestas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href=<%= backend_tests_path%> >Administración de tests</a></li>
            
          </ul>
        </li>
        <li class="dropdown">
          <a href=<%= backend_tips_path%> > Tips </a>
        </li>
        <li class="dropdown">
          <a href=<%= backend_contacts_path%> > Contactos </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
           <%= link_to "Cerrar Sesión", destroy_user_session_path, {method: :delete} %>       
        </li>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        
        <li>    
           <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 

<div class="container">
  <div class="row">
  <% if notice %>
    <p  id="notice" class="alert alert-success" role="alert" ><%= notice %></p>
  <% end %>
  <% if alert %>
    <p  id="notice" class="alert alert-danger" role="alert" ><%= alert %></p>
  <% end %>

  <% if user_signed_in? %>
   <div class="img-responsive col-md-12">
     <!--  <%= image_tag "banner_nav_bar.jpg", :alt => "Perfumania", :title => "Perfumania" %> -->
    </div>
   <% end %>
  </div>
  <%= yield %>
</div>

</body>
</html>