<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="cosmic">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/site/img/favicon2.png">

    <title>
      Perfumania
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/site/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site/css/theme.css" rel="stylesheet">
    <link href="/site/css/bootstrap-reset.css" rel="stylesheet">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->

    <link href="/site/css/propios.css" rel="stylesheet">

    <!--external css-->
    <link href="/site/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/site/css/flexslider.css"/>
    <link href="/site/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="/site/css/animate.css">
    <link rel="stylesheet" href="/site/assets/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/site/assets/owlcarousel/owl.theme.css">

    <link href="/site/css/superfish.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/site/css/component.css">
    <link href="/site/css/style_main.css?v=20150321" rel="stylesheet">
    <link href="/site/css/style-responsive.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/site/css/parallax-slider/parallax-slider.css?v=20150321" />

    <%= javascript_include_tag 'front'%>
    
    <script type="text/javascript" src="/site/js/parallax-slider/modernizr.custom.28468.js">
    </script>


   <script src="/site/js/jquery-1.8.3.min.js">
    </script>
    <script src="/site/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="/site/js/hover-dropdown.js">
    </script>
    <script defer src="/site/js/jquery.flexslider.js">
    </script>
    <script type="text/javascript" src="/site/assets/bxslider/jquery.bxslider.js">
    </script>

    <script type="text/javascript" src="/site/js/jquery.parallax-1.1.3.js">
    </script>
    <script src="/site/js/wow.min.js">
    </script>
    <script src="/site/assets/owlcarousel/owl.carousel.js">
    </script>

    <script src="/site/js/jquery.easing.min.js">
    </script>
    <script src="/site/js/link-hover.js">
    </script>
    <script src="/site/js/superfish.js">
    </script>
    <script type="text/javascript" src="/site/js/parallax-slider/jquery.cslider.js">
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js">
    </script>
    <script src="js/respond.min.js">
    </script>
    <![endif]-->
        
  </head>

  <body>
    <!--header start-->
    <header class="head-section">
      <div class="navbar navbar-default navbar-static-top container">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/"><img src="/site/img/logo2.png" width="150" alt="logo" /></a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="/">Inicio</a>
                  </li>
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
                      "dropdown" data-toggle="dropdown" href="/frontend/products_all">Nuestos productos <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li> <a href="/frontend/products_all">Todos</a></li>
                          <% Category.all.each do |category| %>
                          <li> <a href="/frontend/products/<%= category.id%>"><%= category.name %></a></li>
                          <% end %>
                      </ul>
                  </li>
                  <li>
                      <a href="/frontend/blog">Blog</a>
                  </li>
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
                      "dropdown" data-toggle="dropdown" href="#">Encuestas <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu">
                      <% Test.all.each do |t| %>
                        <li><a href=<%= frontend_test_preview_path(t)%> > <%= t.name %></a></li>
                      <% end %>
                      </ul>
                  </li>
                  <li>
                      <a href="/frontend/contact">Contactenos</a>
                  </li>
                  <li><input class="form-control search" placeholder=" Search" type="text"></li>
              </ul>
          </div>
      </div>
    </header>
    <!--header end-->



    <%= yield %>



    <!--container end-->

    <!--footer start-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
            <h1>
              Información de contacto
            </h1>
            <address>
              <p><i class="fa fa-home pr-10"></i>Dirección: Chía</p>
              <p><i class="fa fa-globe pr-10"></i>Bogotá, Colombia </p>
              <p><i class="fa fa-mobile pr-10"></i>Celular : (57) 318-3835304 </p>
              <p><i class="fa fa-phone pr-10"></i>Fijo: (57) 456-7890 </p>
              <p><i class="fa fa-envelope pr-10"></i>Email :   <a href="javascript:;">juanchovz@gmail.com</a></p>
            </address>
          </div>
          <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".3s">
            <h1>Últimos tweet</h1>
              <div class="tweet-box">
                <i class="fa fa-twitter"></i>
                <em>
                  Siguenos
                  <a target="_blank" href="https://twitter.com/perfumaniashop_">@perfumaniashop_</a>
                  para mantenerte actualizado!
                </em>
              </div>
          </div>
          
          <div class="col-lg-4 col-sm-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
            <h1>
              Nuestra compañia
            </h1>
            <ul class="page-footer-list">
              <li>
                <i class="fa fa-angle-right"></i>
                <a href="/frontend/about">Sobre nosotros</a>
              </li>   
            </ul>
          </div>
          
          
        </div>

        <div class="row">
              
          <ul class="social-link-footer list-unstyled">
              <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s"><a target="_blank" href="https://www.facebook.com/Perfumaniashop-1573549602960642/?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
              <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s"><a target="_blank" href="https://plus.google.com/101976372595881257540/about?gmbpt=true&hl=es-419"><i class="fa fa-google-plus"></i></a></li>
              <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s"><a target="_blank" href="https://twitter.com/perfumaniashop_"><i class="fa fa-twitter"></i></a></li>
            <!--   <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".6s"><a href="#"><i class="fa fa-skype"></i></a></li> -->
              <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".8s"><a target="_blank" href="https://www.youtube.com/channel/UCjMbVoNolxavuleI-Div6Zw"><i class="fa fa-youtube"></i></a></li>
              <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".8s"><a target="_blank" href="https://www.instagram.com/perfumaniashop/"><i class="fa fa-instagram"></i></a></li>

          </ul>

         </div>       


      </div>
    </footer>
    <!-- footer end -->
    <!--small footer start -->
    <footer class="footer-small">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                  <div class="copyright">
                    <p>&copy; Perfumania Shop - Todos los derechos reservados.</p>
                  </div>
                </div>
 
            </div>
        </div>
    </footer>
    <!--small footer end-->

    <!-- js placed at the end of the document so the pages load faster
<script src="js/jquery.js">
</script>
-->
 
   
  </body>
</html>